* {
    margin: 0;
    padding: 0;
}

#profile-info {
    border-radius: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 4rem;
    display: flex;
    background-color: black;
    width: 15rem;
    color: white;
    height: 3rem;
    align-items: center;
}

#profile-pic {
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 0.5rem;
}

#profile-pic img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

#user-name {
    padding: 0 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
}



